.header {
  position: relative;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #ffffff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  user-select: none;
  color: #000;
  border-color: #000;
  border-width: 1px;
}

/* Ensure the game background is behind the content */
.header-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

/* Left side styles */
.header-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-left h1 {
  margin: 0;
  font-size: 1.3rem;
}

.header-left p {
  margin: 0.5rem 0;
}

/* Right side styles */
.header-right {
  display: flex;
  gap: 1rem;
  align-items: flex-start; /* Align icons with the h1 element */
  margin-top: 0;
}

/* Logo/icon styles */
.icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
  transition: transform 0.2s ease;
  border-radius: 6px;
}

.icon:hover {
  transform: scale(1.03);
}

.icon-container {
  position: relative;
  display: inline-block;
}

.icon-bubble {
  visibility: hidden;
  width: 80px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -0px; /* Adjust margin to center */
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-container:hover .icon-bubble {
  visibility: visible;
  opacity: 1;
}

.icon-bubble::after {
  content: '';
  position: absolute;
  top: 100%; /* Arrow at the bottom */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}
