.projects-list {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  max-width: 1200px;

}

.project-card {
  display: grid;
  grid-template-columns: 1fr 480px; /* flexible text column and fixed image column */
  background-color: #ffffff;
  color: #363636;
  overflow: hidden;
  transition: transform 0.3s ease;
  opacity: 0;
  animation: fadeInUp 0.7s ease forwards;
}

.project-text {
  padding: 1rem 1.5rem;
}

.project-image {
  width: 480px;
  height: 270px;
  overflow: hidden;
}


/* Style for title, category and description */
.project-title {
  margin: 0;
  font-size: 1.5rem;
}

.project-category {
  font-style: italic;
  margin: 0.5rem 0;
}

.project-description {
  margin: 0.5rem 0;
}

.project-tags {
  margin-top: 8px;
}

.tag {
  color: grey;
  margin-right: 5px;
  font-size: 0.9em;
}


.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card-link {
  text-decoration: none;
}

@media (max-width: 927px) {
  .project-card {
    display: flex; /* or revert to block display if preferred */
    flex-direction: column;
  }
  .project-image {
    width: 100%;
    height: auto;
  }
  .project-text {
    padding: 1rem;
    /* Optionally remove fixed width constraints */
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 1200px;
  
  }
}
