body {
  margin: 0;
  font-family: "Hind Guntur", monospace;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Hind Guntur", monospace;
  font-weight: 200;
}

.container {
  max-width: 1300px;
  color: #363636;
  margin: 0 auto; /* Centers the container horizontally */
  /* padding: 20px;  Optional: adds some inner spacing */
  background-color: #ffffff;
  padding: 0 20px; /* Adds padding to ensure content is not touching the edges */
  box-sizing: border-box;
}
